<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Video Files</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.movie</string>
				<string>public.video</string>
				<string>public.mpeg-4</string>
				<string>public.avi</string>
				<string>com.apple.quicktime-movie</string>
				<string>com.apple.m4v-video</string>
				<string>public.mpeg-4-audio</string>
				<string>public.audio</string>
				<string>public.mp3</string>
				<string>public.aiff-audio</string>
				<string>public.aifc-audio</string>
				<string>com.apple.m4a-audio</string>
				<string>org.xiph.flac</string>
				<string>com.microsoft.waveform-audio</string>
				<string>public.aac-audio</string>
				<string>org.xiph.ogg-audio</string>
			</array>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict/>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array/>
			<key>UTTypeIcons</key>
			<dict/>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
	</array>
</dict>
</plist>
